
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}



.header {
  background: #fff;
  color: #000;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }


.header p img {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.assignments {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 0px 30px 30px 0px;
  width: 250px;
  height: 100%;
  float: left;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

